[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/zk-kit.solidity"]
	path = contracts/lib/zk-kit.solidity
	url = https://github.com/privacy-scaling-explorations/zk-kit.solidity
[submodule "contracts/lib/ffiasm"]
	path = contracts/lib/ffiasm
	url = https://github.com/iden3/ffiasm
[submodule "contracts/lib/circomlibjs"]
	path = contracts/lib/circomlibjs
	url = https://github.com/iden3/circomlibjs
[submodule "contracts/lib/contracts"]
	path = contracts/lib/contracts
	url = https://github.com/iden3/contracts
